/* assets/style.css */

.div-map {
    border-radius: 4px; 
    border: 1px solid #C7C6C6;
    background-color: #ffffff;    
}

.div-box {
    border-radius: 4px;  
    border: 1px solid #DFDFDF;
    background-color: #ffffff;    
}


/* Configuração da div onde esta a tabela */
.div-box-table {
    width: 99%;
    height: 36.2vh;
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    background-color: #ffffff;
    padding: 1.5% 1.5% 1.5% 1.5%;
    margin: 0.5%;  
}

.div-box-graph {
    border-radius: 4px;
    border: 1px solid #DFDFDF;
    background-color: #ffffff;
    padding: 1% 1% 1% 2%;
    margin: 0.5%;
}


/* Configuração das fontes dos graficos, mapas, tabelas */
.titulo-box {
    font-family: Roboto;
    font-size: 1rem;
    font-weight: 700;
    text-align: left;
    color: #212227;
    margin: 0px;

}

.filter-box {
    width: 240px;
    height: 52px;
}

.filter-title {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;
}

.titulo-indicador {
    font-size: 1rem;
    font-weight: 500;
    font-family: Roboto;
    line-height: 1rem;
    letter-spacing: 0.005em;
    color: #3D5AFF;
    padding-top: 2%;
}

.conteudo-indicador {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.005em;
    text-align: center;
    color: #3D5AFF;
    
}

.conteudo-indicador_segundo {
    font-family: Roboto;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.005em;
    text-align: center;
    color: #04236C;
    
}

.box-interno-indicador-geral {
    width: 48%;
    padding: 2%;
    border-radius: 4px;  
    border: 1px solid #DFDFDF;
    background-color: #ffffff;
    margin: 0px;  
}

/* Definindo a cor do datapicker */
.mantine-1y9bl4z {
    background-color: #C7C6C6;
}

/* Modificando a posição da seta do cabeçalho da tabela */
.column-actions {
    order: 1;
}